### Your repository is ready: [link]({{repo_url}}) ✨

```bash
git clone {repo_url}
cd {{request.project_name}}
git switch main

# Start working...
git status

git add .

# Commit your changes...
git commit -m "Initial Commit"
# Push your work...
git push origin dev
```

Respond to this page once you're done.
